@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;800;900&display=swap");

/* General */

body {
  margin: 0px;
  background-color: #1d1d1d;
}

* {
  font-family: "Poppins", sans-serif;
  color: #fff;
}

p {
  width: 300px;
  font-size: 18px;
}

section {
  width: 960px;
  margin: auto;
  padding: 150px 0px 0px 0px;
}

h3 {
  font-weight: 600;
  font-size: 24px;
  margin: 0px;
}

hr {
  width: 150px;
  display: inline-block;
  border: 1px solid #8a39db;
  margin: 5px;
}

/* Header */
header {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}
#bkgHeader {
  position: fixed;
  box-shadow: 0 0px 5px #8a39db;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  height: 60px;
  width: 100%;
}
.fa-bars {
  font-size: 30px;
}

.iHeader {
  margin: 0px 30px 0px 30px;
}

/* Part 01 - Bio */

.fTitle {
  display: inline;
  font-weight: 900;
  font-size: 30px;
}

.ftPurple {
  color: #8a39db;
}

.fa-github,
.fa.instagram {
  margin: 5px;
}

#imgPrimary {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 55%;
  top: 100px;
  margin: 10px;
  border-radius: 10px;
}

/* Part 02 - Projects*/

.title {
  text-align: center;
  padding: 300px 0px 0px 0px;
}
#sec02 {
  display: flex;
  justify-content: space-between;
  padding: 70px 0px 0px 0px;
  flex-flow: wrap;
}
.fa-font-awesome-flag,
.fa-folder,
.fa-gem {
  font-size: 40px;
  color: #8a39db;
}
.projects {
  width: 450px;
  height: 300px;
  background-color: #25242d;
  border-radius: 10px;
  margin: 15px;
}
#pIcons {
  padding: 25px;
  display: flex;
  justify-content: space-between;
}
#txtProject {
  margin: 0px 0px 0px 25px;
}

.projects:hover {
  border: solid 1px;
  border-image: linear-gradient(-210deg, #8a39db, rgba(0, 0, 0, 0) 80%) 1.2;
  margin: 10px;
}

/* Part 03 - Skills */

#sec03 {
  display: flex;
  justify-content: space-between;
  padding: 70px 0px 0px 0px;
  flex-flow: wrap;
}
.t02 {
  padding: 150px 0px 0px 0px;
}
.skillBlock {
  width: 200px;
  height: 150px;
  background-color: #25242d;
  border-radius: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 10px 10px 25px 10px;
}

.skillBlock:hover {
  border: solid 1px;
  border-image: linear-gradient(-210deg, #8a39db, rgba(0, 0, 0, 0) 80%) 1.2;
  margin: 10px 10px 20px 10px;
}

/* Footer */

footer {
  border-top: solid 1px #babaca;
  height: 60px;
  display: flex;
  width: 90%;
  justify-content: space-between;
  padding: 0px 30px 0px 30px;
  margin: auto;
}
#fText {
  display: flex;
}
#Powered {
  width: 110px;
}
